/* WHOLE PROJECT CSS ARE HERE  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS FOR APP FOR BG  */
.App {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.App::before {
    content: '';
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #00000067;
    top: 0;
    z-index: 0;
}


/* CSS FOR LOGIN AND SIGN UP PAGE  */
.Login,
.Signup {
    display: flex;
    align-items: center;
    min-height: 100vh;
    position: relative;
    z-index: 10;
}

.Login Form,
.Signup Form {
    color: #fff;
    margin: auto;
    width: 500px;
    padding: 30px;
    border: 1px solid #ffffff05;
    backdrop-filter: blur(5px);
}


/* CSS FOR HOME PAGE  */
.Home {
    position: relative;
    z-index: 0;
    height: 100vh;
    max-width: 100vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home .LogoutBtn {
    position: absolute;
    bottom: 8vh;
    left: 15vw;
    width: fit-content;
}

.Home .Row {
    width: 70vw;
    height: 72vh;
    backdrop-filter: blur(10px);
}

.Home .Row .Col {
    width: 100%;
    height: 72vh;
    overflow: auto;
}

.Home .Row .Col {
    border-right: 1px solid rgba(0, 0, 0, 0.329);
}

.Home .Row .Col::-webkit-scrollbar,
.Home .Row .ChatBox::-webkit-scrollbar {
    width: 0px;
}

/* CSS FOR SIDEBAR COMPONENT  */
.Sidebar .sidebar {
    width: 100%;
    height: fit-content;
    cursor: pointer;
}

.Sidebar .sidebar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.Sidebar .Online::before {
    content: '';
    display: block;
    position: relative;
    background-color: rgb(131, 247, 86);
    border: 1px solid black;
    border-radius: 50%;
    top: 15px;
    left: 40px;
    width: 10px;
    height: 10px;
}

/* CSS FOR HOME/CHAT BOX  */
.Home .ChatBox {
    width: 100%;
    height: 72vh;
    overflow: auto;
}

.Home .ChatBox h6 {
    position: absolute;
    width: 33vw;
    top: 0;
    padding: 10px 0;
    padding-left: 10px;
    background-color: #000000;
}

.Chats {
    width: 100%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.Chats .Sender,
.Chats .Receiver {
    list-style: none;
    margin: 5px 0;
    width: fit-content;
}

.Chats .Sender {
    align-self: flex-end;
}

/* CSS FOR CHAT MESSAGES  */
.Chats .Sender :nth-child(1),
.Chats .Receiver :nth-child(1) {

    background-color: #00000067;
    padding: 6px 20px;
    border-radius: 20px;
}

/* CSS FOR CHAT MESSAGES TIME  */
.Chats .Sender :nth-child(2) {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: -16px;
    margin-bottom: 0px;
    margin-right: 10px;
    opacity: 0.3;
    z-index: -1;
}

.Chats .Receiver :nth-child(2) {
    position: relative;
    margin-top: -16px;
    margin-bottom: 0px;
    opacity: 0.3;
    margin-left: 10px;
    z-index: -1;
}

/* FOR CHAT BOX INPUTS  */
.ChatBox .Chat-input {
    position: absolute;
    width: 33vw;
    bottom: 0;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    background-color: #fff;
}

.ChatBox .Chat-input input {
    width: 100%;
    border-radius: 7px;
    border: none;
    padding-left: 10px;
}

.ChatBox .Chat-input input:focus-visible {
    outline: none;
}

.ChatBox .Chat-input Button {
    max-width: fit-content;
    margin: 5px;
}

.loading {
    display: flex;
    background-color: #00000067;
    padding: 10px 20px;
    position: fixed;
}

/* CSS FOR MOBILE screen WIDTH:-775PX  */
@media (max-width: 770px) {
    .Home .Row {
        width: 90vw;
        height: 72vh;
    }

    .Home .Row .Col {
        position: absolute;
        top: -90px;
        width: 100%;
        display: flex;
        overflow: scroll;
        height: fit-content;
    }

    .Home .ChatBox h6 {
        width: 93% !important;
        background-color: black !important;
    }

    .Home .Row hr {
        margin: 0;
        display: none;
    }

    .ChatBox .Chat-input {
        width: 93% !important;
    }

    .Home .Row .Col {
        border-right: none;
    }

    .Home .LogoutBtn {
        left: 5vw;
        bottom: 6vh;
    }

    .Chats .Sender :nth-child(1),
    .Chats .Receiver :nth-child(1) {
        max-width: 80vw !important;
        word-wrap: break-word;
    }
    .Home .ChatBox {
        height: 65vh;
    }

}